<div class="custom-card px-3 pb-2">
  <div *ngIf="!exibir_consideracoes; else consideracoes">
    <div class="cabecalho">
      <h1>{{receita.titulo}}</h1>
    </div>
    <div>
      <div class="mt-3">
        <h3>Ingredientes</h3>
        <p *ngFor="let ing of receita.ingredientes" (click)="riscar(ing)" [class.riscado]="ing.finalizado">*
          {{ing.texto}}</p>
      </div>
      <div class="mt-3">
        <h3>Modo de preparo</h3>
        <p *ngFor="let mp of receita.modo_preparo" (click)="riscar(mp)" [class.riscado]="mp.finalizado">{{mp.ordem}} -
          {{mp.texto}}</p>
      </div>
    </div>
  </div>
</div>

<div class="mt-2 flex-end" *ngIf="receita.consideracoes.length > 0">
  <p-button [icon]="icone_consideracoes" [label]="label_consideracoes" [rounded]="true" variant="outlined"
    severity="contrast" class="blue-button" (onClick)="toogleConsideracoes()" />
</div>

<ng-template #consideracoes>
  <div class="cabecalho">
    <h1 class="cursive-pen-400 font-consideracoes mb-2">Considerações da familia</h1>
  </div>
  <div *ngFor="let cons of receita.consideracoes" class="mb-4">
    <p class="m-0">"{{cons.texto}}"</p>
    <span>-{{cons.autor}}</span>
  </div>
</ng-template>